:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  #container {
    display: grid;
    grid-gap: 0px 0px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 80vw;
    height: 80vw;
    border: 8px solid darkgray;
    border-radius: 5px;
   
  }
  
  .gridItem {
    padding: 0px;
    border: 0px solid #ddd;
  }

  #flexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px;
    background-color: maroon;
   
  }

 

  #addSquares {
    margin-bottom: 20px;
    background-color: white;
    border-style: none;
    padding: 5px 10px;
    font-size: 2vw;
    margin-right: 6vw;
    margin-top: 3vw;



    
  }

  #resetBoard {
    margin-bottom: 20px;
    background-color: white;
    border-style: none;
    padding: 5px 10px;
    font-size: 2vw;
    margin-top: 3vw;
    

  }

  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic; 
    font-size: 4vw;
    color: white;
  }

  #signature {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 1vw;
    color: white;
    margin-bottom: 1vw;
    margin-top: 1vw;
  }
  
  .buttonRow {
    margin-top: 20px;
    


  }

 

